<div class="card col-lg-12 message">
  <div class="card-block">
    <div class="row me">
      <div class="col-md-12">
        <p class="card-text">
          <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>