<% if current_cart.products.where(thirtydays_status: true).size > 0 %>
<div class="btn btn-dark btn-lg mb-1">
  <i class="fa fa-shopping-cart mr-2"></i>
  Enough
</div>
<% else %>
<%= f.button :submit, class: "btn btn-dark btn-lg mb-1" do %>
<i class="fa fa-shopping-cart mr-2"></i>
Add to Cart
<% end %>
<% end %>