<div class="media review">
  <div class="text-center mr-4 mr-xl-5">
    <%= image_tag object.user.avatar, class: "review-image" %>
    <span class="text-uppercase text-muted">
      <%= time_ago_in_words(object.updated_at) %></span>
  </div>
  <div class="media-body">
    <h5 class="mt-2 mb-1">
      <%= object.user.name %>
    </h5>
    <p class="text-muted">
      <%= object.content %>
    </p>
  </div>
</div>