<ul>
  <% @designers.each do |designer| %>
  <li>
    <%= designer.name %>
    <%= designer.brandname %>
    <%= designer.description %>
    <%= image_tag(designer.image.url, width: "300px") %>
  </li>
  <% end %>
</ul>