<h1>Transfer to the payment page, do not close or leave the page...</h1>
<form action="<%= Spgateway.url %>" method="post">
  <% Spgateway.new(@payment).generate_form_data(spgateway_return_url).each do |key, value| %>
  <%= hidden_field_tag key, value %>
  <% end %>
  <input type="submit" style="visibility:hidden;">
</form>
<script>document.forms[0].submit()</script>