<section class="position-relative dark-overlay py-3 py-lg-7">
  <%= image_tag @product.image, class: "bg-image" %>
  <div class="container overlay-content hero hero-page">
    <ul class="breadcrumb justify-content-center no-border mb-0">
      <li class="breadcrumb-item">
        <%= link_to "Back", admin_designer_path(params[:designer_id]), style: "color: white;" %>
      </li>
    </ul>
  </div>
</section>

<%= render partial: "shared/productShow/productShow", locals: {product: @product, cart_item: @cart_item} %>