.my-cart {
  position: fixed;
  top: 72px;
  right: 0;
  border-left: 1px solid #bbb;
  padding: 15px;
  width: 280px;
  height: 100vh;
  float: right;
  background-color: #fff;
}

 .cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

 .cart-item img {
  width: 75px;
}

 .cart-item-info h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}

.panel {
  border: 1px solid #ccc;
  padding: 21px;
  border-radius: 4px;
  margin-bottom: 30px;
}

 .btn {
  background-color: #ddd;
  padding: 11px;
  border: 1px solid #ccc;
  font-size: 15px;
  border-radius: 4px;
}

 .btn:hover {
  background-color: #999;
  color: #fff;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.alert-primary {
  color: rgb(80, 57, 118);
  background-color: rgb(235, 226, 249);
  border-color: rgb(227, 214, 247);
}