/* Components */
@import 'messages';

.my-cart {
  position: fixed;
  top: 72px;
  right: 0;
  border-left: 1px solid #bbb;
  padding: 15px;
  width: 280px;
  height: 100vh;
  float: right;
  background-color: #fff;
}

.cart-item-info h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}

#no-margin {
  margin-left: 0;
  margin-right: 0;
}

.message-container {
  min-width: 100%;
}

.alert-flash-message {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 80%;
  z-index: 1040;
  background: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.95);
}

.flash-message {
  max-width: 50%;
  position: relative;
  top: 10%;
  left: 20%;
  font-size: 2.5em;
}

.logo {
  font-size: 2.5em;
}

.drop-menu {
  left: -18em;
}


.checkout {
  position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/

  top: 35%;  /*設置垂直位置*/

  right: 100px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/

  background: #ffffff;  /*背景顏色*/

  padding: 10px 20px;

  border-radius: 10px;  /*圓角*/

  -moz-border-radius: 10px;

  -webkit-border-radius: 10px;
}

/* Nested Form */
.links {
  padding-left: 1.6em;
}

/* Fix Height of Designer's photo at root page */
.trim {
  height: 160px;
  overflow: hidden;
}