<%= link_to "回首頁", root_path, class: "btn btn-primary" %>


    <h1>設計師產品</h1>
    
    <p>Discription</p>
    <div class="card-deck">
      <% @products.each do |product| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <%= product.name %>
          </h5>
          <p class="card-text">
            <%= product.description %>
          </p>
          <a href="#" class="btn btn-primary">ADD TO CART</a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
